@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.register{
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.register h1{
    text-align: center;
    color: black;
    background-color: #0000ff25;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

input{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    font-size: 13px;
}

input[type="submit"]{
    cursor: pointer;
    color: black;
    border: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
    background-color: #0000ff25;
}
